<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="icon" href="images/tomaclogo.png" sizes="32x32">
    <title>宁夏机动车检验协会</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>

    <script>
        (function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
                var a = document.referrer, b = {
                    "baidu.com": "seo_baidu",
                    "sogou.com": "seo_sogou",
                    "sm.cn": "seo_sm",
                    "so.com": "seo_360",
                    "bing.com": "seo_bing",
                    "google.com": "seo_google"
                }, c;
                for (c in b) {
                    if (-1 != a.indexOf(c)) {
                        a = b[c];
                        if (window.sessionStorage) {
                            sessionStorage.setItem("channel", a)
                        } else {
                            var d = d || 0, b = "";
                            0 != d && (b = new Date, b.setTime(b.getTime() + 1000 * d), b = "; expires=" + b.toGMTString());
                            document.cookie = "channel=" + escape(a) + b + "; path=/"
                        }
                        break
                    }
                }
                window.location.href = "http://47.94.99.243:8080/html/carm/new.html"+location.search;
            };
        })();
        var rem=null;
        //屏幕适应
        (function (win, doc) {
            if (!win.addEventListener) return;
            var html = document.documentElement;
            function setFont() {
                var html = document.documentElement;
                var k =1920;
                html.style.fontSize = html.clientWidth / k * 100 + "px";
                rem=html.clientWidth / k * 100 ;
            }
            setFont();
            setTimeout(function () {
                setFont();
            }, 300);
            doc.addEventListener('DOMContentLoaded', setFont, false);
            win.addEventListener('resize', setFont, false);
            win.addEventListener('load', setFont, false);
        })(window, document);
    </script>
    <style>

        html{font-size:100px;}
    </style>
    <link rel="stylesheet" href="css/global.css?v1.04">
    <link rel="stylesheet" href="css/new.css?v1.05">
    <link rel="stylesheet" href="css/swiper-3.4.2.min.css">
    <script src="js/swiper-3.4.2.jquery.min.js"></script>
    <script src="js/request.js?v1.04"></script>
    <script src="js/getTime.js"></script>
</head>
<body>
<div id="app">
    <my-header></my-header>
    <div class="main flex flex-h">
        <div class="left">
            <div class="bigtitle">新闻汇总</div>
            <div class="hr"></div>
            <div class="title">{{newdetail.title}}</div>
            <div class="date flex flex-h flex-vc"><img src="images/iconclock1.png" alt="iconcolck"><div>{{newdetail.date}}</div></div>
            <div class="dec flex flex-h flex-vc">{{newdetail.dec}}</div>
            <div class="content" v-html="newdetail.content"></div>
        </div>
        <div class="right">
            <div class="top">
                <div class="modtitle">热点新闻</div>
                <div class="swiperWrap">
                    <div class="swiper-container" id="mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide pointer"
                                 @click="goRouters('new.html',banneritem.id)"
                                 v-for="(banneritem,bannerindex) of newList0" :key="bannerindex">
                                <img :src="banneritem.imgurl" alt="imgurl">
                            </div>
                        </div>
                        <div class="pagationbg"></div>
                        <div class="swiper-pagination" slot="pagination"></div>
                    </div>
                </div>
                </div>
        <div class="bottom">
            <div class="modtitle">新闻列表</div>
            <div class="list">
                <div class="new pointer"
                     @click="goRouters('new.html',newitem.id)"
                     v-for="(newitem,newindex) of newList1" :key="newindex">
                    <div class="title flex flex-h">
                        <div class="newid">{{newindex+1}}</div>
                        <div class="realtitle">{{newitem.title}}</div>
                    </div>
                    <div class="date">{{newitem.date}}</div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <my-footer></my-footer>
</div>
<script src="js/component.js?v1.03"></script>

<script>
    var vm=new Vue({
        el: '#app',
        data: { //要存放的数据
            newdetail:{
                // title:'习主席提出的四个“坚定不移”',
                // dec:'第一报道 | 习主席提出的四个“坚定不移”让世界感受到中国情谊、中国担当',
                // date:'2020-06-04',
                // content:'第一报道 | 习主席提出的四个“坚定不移”，让世界感受到中国情谊、中国担当 新华社北京6月18日电 6月17日晚，习近平主席在北京主持中非团结抗疫特别峰会并发表题为《团结抗疫 共克时艰》的主旨讲话。 当前，新冠疫情仍在全球蔓延，中国和非洲都面临抗疫情、稳经济、保民生的艰巨任务。 在此次峰会上，习主席提出四个“坚定不移”，为中非抗疫合作指明方向，为中非关系未来擘画蓝图。一句句真诚倡议、一项项务实举措，让非洲国家感受到兄弟无远的中国情谊，让国际社会感受到团结抗疫的中国担当。 面对突如其来的新冠疫情，中非相互声援、并肩战斗，生动诠释了患难与共、守望相助的兄弟情谊。在此次峰会上，习主席明确表示，中方将继续全力支持非方抗疫行动，继续向非洲国家提供物资援助、派遣医疗专家组、协助非方来华采购抗疫物资。 为支持非洲抗击疫情，习主席提出了“提前于年内开工建设非洲疾控中心总部”、“加快中非友好医院建设和中非对口医院合作”等一系列务实举措。 “新冠疫苗研发完成并投入使用后，愿率先惠及非洲国家”，这份中国承诺情深义重。 如何克服疫情给非洲国家经济发展以及中非务实合作带来的冲击？习主席指出，中非要加强共建“一带一路”合作，加快落实中非合作论坛北京峰会成果，并将合作重点向健康卫生、复工复产、改善民生领域倾斜。',
            },
            newList0:[
                // {
                //     imgurl:'images/testimg.png'
                // },
                // {
                //     imgurl:'images/testimg.png'
                // },
                // {
                //     imgurl:'images/testimg.png'
                // }
            ],
            newList1:[
                // {
                //     title:'习主席提出的四个“坚定不移”',
                //     date:'2020.06.04',
                // },
                // {
                //     title:'习主席提出的四个“坚定不移”',
                //     date:'2020.06.04',
                // },
                // {
                //     title:'习主席提出的四个“坚定不移”',
                //     date:'2020.06.04',
                // },
                // {
                //     title:'习主席提出的四个“坚定不移”',
                //     date:'2020.06.04',
                // }
            ],
            new0currentPage:1,
            new0pageSize:3,
            new1currentPage:1,
            new1pageSize:4
        },
        methods:{
            goRouters(path,id){//新闻跳转
                window.location.href=allUrl+path+'?id='+id;
            },
            async requestDetailApi(id){//详情
                let res=await request('get','/news/'+id);
                // alert('res:'+JSON.stringify(res));
                let data=res.data
                if(res.code==1){
                    let obj={
                        title:data.title,
                        dec:data.content,
                        date:getTransformDate2(data.createTime),
                        content:data.details
                    }
                    this.newdetail=Object.assign({},obj)
                }else{

                }
            },
            async requestNewApi0(){//newList0热点新闻
                let res=await request('get','/news',{
                    currentPage:this.new0currentPage,
                    pageSize:this.new0pageSize,
                    type:2
                });
                // alert('res:'+JSON.stringify(res));
                if(res.code==1){
                    let arr=res.data.items.map((item)=>{
                        return{
                            id:item.id,
                            imgurl:item.photo
                        }
                    })
                    this.newList0=arr;
                }else{
                    alert('数据获取失败！')
                }

            },
            async requestNewApi1(){//newList1新闻列表
                let res=await request('get','/news',{
                    currentPage:this.new1currentPage,
                    pageSize:this.new1pageSize,
                    type:3
                });
                // alert('res:'+JSON.stringify(res));
                if(res.code==1){
                    let arr=res.data.items.map((item)=>{
                        return{
                            id:item.id,
                            title:item.title,
                            date:getTransformTime1(item.createTime)
                        }
                    })
                    this.newList1=arr;
                }else{
                    alert('数据获取失败！')
                }

            },
            createSwiper(){
                this.mySwiper = new Swiper('.swiper-container',{
                    pagination: '.swiper-pagination',
                    direction: 'horizontal',//滑动方向：水平(horizontal)或垂直(vertical)
                    loop: true,//loop模式：会在原本slide前后复制若干个slide(默认一个)并在合适的时候切换，让Swiper看起来是循环的
                    speed: 300,//滑动速度，即slider自动滑动开始到结束的时间（单位ms） 默认值300
                    autoplay: 3000,
                    autoplayDisableOnInteraction: false,
                    onSlideChangeEnd: function (e) {
                        var index = e.realIndex;
                        // $('.swiper-title').removeClass('on2');//全部先隐藏
                        // $('.swiper-title').eq(index).addClass('on2');//有on2的显示
                    }
                });
            }
        },
        created: function () {
            let id=getQueryString('id');
            this.requestDetailApi(id)
            this.requestNewApi0()
            this.requestNewApi1()
        },
        mounted:function () {
            this.createSwiper(); //滑屏翻页
            document.documentElement.scrollTop = 0;
        }
    })

</script>
</body>
</html>

