#app{
    position: relative;
    padding-bottom:3.4rem;
}
.manheight{
    height:100%;
    padding-bottom:0!important;
}
.manheight .fixbox{
    position: static!important;
}
.manheight .main{
    min-height: 1rem;
}
.manheight .cominputwrap{
    margin-top:0;
}

.footer{
    position: absolute;
    bottom:0;
}

.main{
    margin-top:0.38rem;
    width:7.5rem;
    min-height:11rem;
    margin-bottom:1.1rem;
}

.memberwrap{
    width:6.85rem;
    margin:auto;
}
.memberwrap .member{
    width:3.42rem;
    height:3.6rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.memberwrap .on{
    background: #f2f3f5;
    cursor: pointer;
}
.memberwrap .member .top{
    background: transparent;
}
.memberwrap .member .top img{
    width: 1.45rem;
    height: 1.45rem;
}
.memberwrap .member .blue{
    position: absolute;
    top:1.45rem;
    right:1.45rem;
    width: 0.13rem;
    height: 0.13rem;
    background: #1f11d4;
    z-index: 2;
}
.memberwrap .on .blue{
    width: 0.24rem;
    height: 0.24rem;
}
.memberwrap .member .bottom{
    width: 100%;
    box-sizing: border-box;
    padding-left:0.3rem;
}
.memberwrap .member .bottom .name{
    font-size:.23rem;

    font-weight:400;
    color:rgba(31,17,212,1);
    line-height:.23rem;
    margin-bottom:0.17rem;
}
.memberwrap .member .bottom .dec{
    font-size:.22rem;

    font-weight:300;
    color:rgba(56,56,56,1);
    line-height:.22rem;
    margin-bottom:.11rem;
}
.memberwrap .member .bottom .dec2{
    font-size:.15rem;
    font-weight:300;
    color:rgba(56,56,56,1);
    line-height: .26rem;
}
.sorrry{
    font-size:.13rem;

    font-weight:300;
    color:rgba(56,56,56,0.8);
    line-height:.13rem;
}
.panationwrap{
    width:7.5rem;
    height: 0.25rem;
    text-align: center;
    position: absolute;
    bottom: 4rem;
    left: 0;
}
.el-pager li{

}
.el-pager li.active{
    color:rgba(31,17,212,1)!important;

}
.el-pager li{
    width: 0.65rem;
    text-align: center;
    min-width: 0;
    height: 0.25rem;
    font-size:0.36rem;

    font-weight:400;
    color:rgba(52,52,52,1);
    line-height:0.36rem;
}
