
/*头部*/
.header{
    width:7.5rem;
    height:9.05rem;
    background-image: url(../images/head.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-position: center 0;
    padding-top: 2.81rem;
    box-sizing: border-box;
    margin-top:1.1rem;
}
.header .title{
    text-align: center;
    font-size:0.53rem;

    font-weight:400;
    font-style:italic;
    color:rgba(255,255,255,1);
    line-height:0.53rem;
    margin-bottom: 0.39rem;
}
.header .title span:nth-child(1){
    padding-right:0.7rem;
    /*letter-spacing:*/
}
.header .searchbox{
    width:6.92rem;
    height: 0.89rem;
    background:rgba(255,255,255,0.28);
    margin:auto;
}
.searchbox form{
    flex:1;
}
.searchbox input{
    width:95%;
    height:0.4rem;
    line-height: 0.3rem;
    background: transparent;
    outline:none;
    border: none;
    font-size:0.3rem;

    font-weight:400;
    color:rgba(255,255,255,1);
    margin:0 0.08rem;
    caret-color: #ffffff;
    outline:none;
}
.searchbox input:focus{color:#ffffff;}
input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size:0.3rem;

    font-weight:400;
    color:rgba(255,255,255,1);
    -webkit-text-fill-color: initial;
}
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size:0.16rem;

    font-weight:400;
    color:rgba(255,255,255,1);
    -webkit-text-fill-color: initial;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size:0.3rem;

    font-weight:400;
    color:rgba(255,255,255,1);
    -webkit-text-fill-color: initial;
}
input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size:03rem;

    font-weight:400;
    color:rgba(255,255,255,1);
    -webkit-text-fill-color: initial;
}
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
input[type=search]::-ms-clear {
    appearance: none;
}

.searchbox .iconsearch{
    width: 0.52rem;
    height: 0.48rem;
    margin-left:0.34rem;
    margin-right:0.2rem;
}
.searchbox div img{
    width: 0.06rem;
    height: 0.1rem;
    margin-right:0.34rem;
    margin-left:0.09rem;
}
.searchbox div span {
    font-size:0.16rem;

    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:0.16rem;
}
/*头部*/


/*main*/
.main{
    width:6.88rem;
    margin: auto;
    padding-top:1.03rem;
}

.mod0 .left{
    width:100%;
}
.mod0 .left .texts{
    width: 6.6rem;
    margin:auto;
    margin-top:0.69rem;
}
.mod0 .left .texts p{
    font-size:0.22rem;

    font-weight:400;
    color:rgba(37,41,43,0.8);
    line-height:0.42rem;
    text-indent: 0.3rem;
}
.mod0 .right{
    width:100%;
}
.mod0 .right .boxs{
    margin-top:0.41rem;
    width: 100%;
}
.mod0 .right .modtitle{
    margin-bottom:0.67rem;
    margin-top:0.71rem;
}
.mod0 .right .boxs{
    width: 5.75rem;
    margin:auto;
}
.mod0 .right .boxs .one{
    width: 100%;
    height:1.12rem;
    text-align: center;
    font-size:0.32rem;

    font-weight:400;
    font-style:italic;
    color:rgba(255,255,255,1);
    background-repeat:no-repeat ;
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-position: center 0;
    margin-bottom:0.32rem;
    position: relative;
    z-index: 1;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.mod0 .right .boxs .one div{
    margin:auto;
    position: relative;
    z-index: 3;
    display: inline-block;
    height:0.4rem;
    line-height: 0.4rem;
}
.mod0 .right .boxs .on div{
    padding-bottom: 3px;
    border-bottom:1px solid rgba(255,255,255,1);
}
.mod0 .right .boxs .on::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background:rgba(0,1,254,0.45);
    z-index: 2;
}
.mod0 .right .boxs .one:nth-child(1){
    background-image: url("../images/part0.png");
}
.mod0 .right .boxs .one:nth-child(2){
    background-image: url("../images/part1.png");
}
.mod0 .right .boxs .one:nth-child(3){
    background-image: url("../images/part2.png");
    margin-bottom:0!important;
}

.mod1{
    margin-top:0.55rem;
}
.mod1 .iconsbox{
    margin-top:0.59rem;
    width:12.71rem;
    height:2.38rem;
    border:1px solid rgba(0,0,0,0.11);
}
.mod1 .lefticon,.mod1 .righticon{
    width:0.16rem;
    height:0.29rem;
}
.mod1 .lefticon{
    margin-left:0.34rem;
    margin-right:0.34rem;
}
.mod1 .righticon{
    margin-left:0.34rem;
    margin-right:0.34rem;
}
.mod1 .icons{
    width:11.15rem;
    height:2.38rem;
    overflow-x: hidden;
}
.mod1 .iconswrap{
    position:relative;
    width: 18rem;
    height:2.38rem;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
/*.mod1 .icons::-webkit-scrollbar {display:none}*/
.mod1 .icons .box{
    width: 1.14rem;
    height: 1.5rem;
    margin-right:0.4rem;
}
.mod1 .icons .box:last-child{
    position: relative;
}
.mod1 .icons .box:last-child::after{
    content:'';
    width: 1.14rem;
    height: 1.5rem;
    position: relative;
}
.mod1 .icons .box div.dec{
    text-align: center;
    font-size:0.14rem;

    font-weight:400;
    font-style:italic;
    color:rgba(37,41,43,1);
    line-height:0.14rem;
    margin-top:0.22rem;
}
.mod1 .icons .one{
    width: 1.14rem;
    height: 1.14rem;
    background-image:url("../images/skillbg0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-position: center 0;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.mod1 .icons .box:first-child{
    margin-left:0.31rem;
}
.mod1 .icons .box:last-child{
    margin-right:0.31rem;
}
.main .mod1 .icons .on{
    background-image:url("../images/skillbg1.png");
}

.mod2{
    width: 100%;
    margin-top:0.76rem;
}
.mod2 .text{
    margin-top:0.7rem;
    font-size:0.22rem;

    font-weight:400;
   color:rgba(37, 41, 43,0.8);
    line-height:0.42rem;
}
.mod2 .text span{
    color:rgba(0,1,253,1);
}
.mod3{
    width: 100%;
    margin-top:0.56rem;
}
.mod3 .left{
    width:100%;
}
.mod3 .right{
    width:100%;
}
.mod3 .left .more{
    margin-top:0.33rem;
}
.mod3 .right .more{
    margin-top:0.53rem;
}
.mod3 .left .more .new{
    height:1.13rem;
    box-sizing: border-box;
    border-bottom:1px solid rgba(54,57,57,0.2);
}

.mod3 .left .new .title{
    padding-left:0.03rem;
    font-size:0.32rem;

    font-weight:400;
    font-style:italic;
    color:rgba(37,41,43,0.8);
    width:70%;
}

.mod3 .left .new .foot{
    color:rgba(37,41,43,0.6);
    font-size: 0.26rem;

    font-weight:400;
    font-style:italic;
    padding-right:0.08rem;
}
.mod3 .right .modtitle{
    margin-top:0.68rem;
}
.mod3 .right .more .new{
    width: 100%;
    height:2.01rem;
    border-bottom:1px solid rgba(39,41,43,0.11);
}

.mod3 .right .more .new .left{
    width:80%;
    height:100%;
    box-sizing: border-box;
}
.mod3 .right .more .new .left .title{
    font-size:0.3rem;

    font-weight:400;
    font-style:italic;
    color:rgba(37,41,43,1);
    line-height:0.3rem;
}
.mod3 .right .more .new .left .dec{
    font-size:0.25rem;

    font-weight:400;
    color:rgba(37,41,43,0.5);
    line-height:0.25rem;
    margin-top:0.15rem;
}
.mod3 .right .more .new .left .foot{
    font-size:0;
    margin-top:0.24rem;
}
.mod3 .right .more .new .left .foot img{
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
}
.mod3 .right .more .new .left .foot div{
    font-size:0.22rem;

    font-weight:400;
    color:rgba(37,41,43,0.5);
    line-height:0.22rem;
    padding-left:0.06rem;
}
.mod3 .right .more .new .right{
    width: 0.37rem;
}
.mod3 .right .more .new .right img{
    width: 0.14rem;
    height: 0.28rem;
}
.mod3 .lookmore{
    width: 100%;
    height: 0.8rem;
    background:#e7e7e7;
    font-size:0.32rem;

    font-weight:400;
    color:rgba(37,41,43,0.8);
    line-height:0.8rem;
    text-align: center;
}
/*main*/
