*{margin: 0;padding: 0;
    border: none;
    -webkit-tap-highlight-color:transparent;
    -webkit-appearance: none;
}
html{width:100%;}
body{width:100%;font-size: 0.14rem; font-family:Microsoft YaHei;}
#app{width:100%;;}
img{display:block;}
/*@font-face {*/
    /*font-family:Microsoft YaHei;*/
    /*src: url('../font/Microsoft-YaHei-Regular.ttc');*/
/*}*/
/*可复用样式*/

.middle{
    text-align: center;
}

.marginauto{
    margin:auto;
}
.pointer {
    cursor: pointer;
}

/* 父元素-flex容器 */
.flex {
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;     /* NEW - Chrome */
}
/* 父元素-横向排列（主轴） */
.flex-h {
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
/* 父元素-纵向排列（主轴） */
.flex-v {
    /* 09版 */
    -webkit-box-orient: vertical;
    /* 12版 */
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
/* 父元素-水平居中（主轴是横向才生效） */
.flex-hc {
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    /* 其它取值如下：
       flex-start     主轴原点方向对齐
      flex-end        主轴延伸方向对齐
      space-between   等间距排列，首尾不留白
      space-around    等间距排列，首尾留白
     */
}
/* 父元素-竖直居中（主轴是横向才生效） */
.flex-vc {
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
/* 父元素-横向换行 */
.flex-hw {
    /*-webkit-box-lines: multiple;*/
    /* 12版 */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-hspar {
    -webkit-box-pack: space-around;
    /* 12版 */
    -webkit-justify-content:space-around;
    -moz-justify-content:space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}
.flex-hbet{
    -webkit-box-pack: space-between;
    /* 12版 */
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.flex-hend {
    /* 09版 */
    -webkit-box-pack: flex-end;
    /* 12版 */
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    /* 其它取值如下：
       flex-start     主轴原点方向对齐
      flex-end        主轴延伸方向对齐
      space-between   等间距排列，首尾不留白
      space-around    等间距排列，首尾留白
     */
}
/* 超出一行用省略号显示 */
.ellipsis{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/* 超出2行用省略号显示 */
.ellipsis2{
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    text-overflow:ellipsis;
}
input:focus{
    border:none;
}

/*footer*/
.footer{
    width:19.2rem;
    height: 2.31rem;
    margin-top:1.03rem;
    background:rgba(24,24,27,1);
}
.footer .top{
    padding-top:0.38rem;
}
.footer .top .left{
    width: 2.71rem;
    margin-right:0.71rem;
}
.footer .top .left img{
    width: 2.71rem;
}
.footer .top .right .dec{
    font-size:0.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:0.14rem;
    margin-bottom:0.14rem;
}
.footer .bottom{
    width: 100%;
    box-sizing: border-box;
    padding-left:4.72rem;
    font-size:0.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:0.14rem;
    margin-top:0.33rem;
}

/*footer*/
/*登录的时候，absolute或者fixed再底部*/
/*答题的时候题目多的时候abslute再底部，如果题目太少，则absolute在底部*/
/*@media (min-height:670px){*/
    /*.footer2{*/
        /*position: static!important;*/
    /*}*/
/*}*/

.footer2{
    width:19.2rem;
    height: 1.13rem;
    position: fixed;
    bottom:0;
    left:0;
    background: #ffffff;
}

.footer2 .top{
}
.footer2 .top .left{
    width: 2.71rem;
    margin-right:0.34rem;
}
.footer2 .top .left img{
    width: 2.71rem;
}
.footer2 .top .right .dec{
    font-size:0.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:#8d8d8d;
    line-height:0.14rem;
    margin-bottom:0.14rem;
}

/*footer2*/

/*footer2*/
/*absolute块*/
.fixbox{
    width: 19.2rem;
    height: 0.74rem;
}
.fixboxon{
    background: #ffffff;
}
.fixbox img{
    width:2.71rem;
    margin-left:3.12rem;
}
.fixbox .chooses{
    margin-right:3.53rem;
    height:100%;
}
.fixbox .chooses .one{
    font-size:0.18rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    text-align: center;
    color:rgba(255,255,255,1);
    position:relative;
    cursor: pointer;
}
.fixbox .chooses .one:nth-child(n+1){
    margin-right:0.69rem;
}
.fixboxon .chooses .one{
    color:#353939;
}
.fixbox .chooses .on::after{
    position: absolute;
    content:'';
    width:85%;
    height:0.04rem;
    background:#0001FD;
    left:0;
    right:0;
    margin: auto;
    bottom: -0.06rem;
}

/*absolute块*/

/*标题*/
.modtitle{
    height:0.25rem;
    font-size:0.25rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    font-style:italic;
    color:rgba(37,41,43,1);
    line-height:0.25rem;
    position:relative;
    padding-left:0.14rem;
}
.modtitle::before{
    content:'';
    position: absolute;
    width: 0.05rem;
    height:0.22rem;
    background: #0001FD;
    left:0;
    top:0;
    bottom:0;
    margin: auto;
}
.modtitle::after{
    content:'';
    position: absolute;
    width: 100%;
    height:1px;
    background-image: linear-gradient(to right,  rgba(37,41,43,0.27) 0%,  rgba(37,41,43,0.27) 50%, transparent 50%);
    background-size:0.08rem 1px;
    background-repeat: repeat-x;
    bottom:-0.17rem;
    left:0;
}
/*标题*/

/*输入框头部*/
.cominputwrap{
    width:19.2rem;
    height: 0.93rem;
    border-bottom:1px solid rgba(0,0,17,0.11);
}
.cominputwrap .innerwrap{
    margin-top:0.18rem;
    width: 11.21rem;
    height: 0.48rem;
    background:rgba(229,229,229,1);
}
.cominputwrap .innerwrap img{
    width: 0.22rem;
    height: 0.21rem;
    margin-left:0.32rem;
}
.cominputwrap .innerwrap input{
    flex:1;
    height:0.4rem;
    line-height: 0.4rem;
    background: transparent;
    outline:none;
    border: none;
    font-size:0.16rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(68,68,68,1);
    margin-left:0.1rem;
}
.cominputwrap .innerwrap input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size:0.16rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(68,68,68,0.48);
}
.cominputwrap .innerwrap input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size:0.16rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(68,68,68,0.48);
}
.cominputwrap .innerwrap input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size:0.16rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(68,68,68,0.48);
}
.cominputwrap .innerwrap input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size:0.16rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(68,68,68,0.48);
}
.cominputwrap .innerwrap .clickbtn{
    font-size:0.16rem;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:#0001FD;
    line-height:0.16rem;
    margin-right:0.31rem;
}
.cominputwrap .innerwrap .clickbtn img{
    margin-left:0.09rem;
    width: 0.06rem;
    height:0.1rem;
}

/*输入框头部*/
.blueFont{
    color:#0001FD;
}
