body{
    font-size: 0.14rem;
}
#app{
    position: relative;
}
#app .porbox{
    min-height:calc(100vh - 2.94rem);
}
.footer{
    margin-top:0.64rem!important;
}

.main{
    margin-top:0.4rem;
    width:11.19rem;
    margin-left:4rem;
    min-height:6.5rem;
}
.hidden{
    visibility: hidden;
}
.absolutebox{
    position: absolute;
    right:0;
    bottom:0;
    font-size:.16rem;

    font-weight:400;
    color:rgba(37,41,43,1);
    line-height:.25rem;
    height: 0.25rem;
}
.memberwrap{
    margin-top:0.55rem;
    width: 100%;

}
.memberwrap .member{
    width: 2.79rem;
    height: 2.52rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.memberwrap .on{
    background: #f2f3f5;
    cursor: pointer;
}
.memberwrap .member .top{
    background: transparent;
}
.memberwrap .member .top img{
    width: 1.21rem;
    height: 1.21rem;
}
.memberwrap .member .blue{
    position: absolute;
    top:1.21rem;
    right:1.21rem;
    width: 0.11rem;
    height: 0.11rem;
    background: #1f11d4;
    z-index: 2;
}
.memberwrap .on .blue{
    width: 0.24rem;
    height: 0.24rem;
}
.memberwrap .member .bottom{
    width: 100%;
    box-sizing: border-box;
    padding-left:0.2rem;
}
.memberwrap .member .bottom .name{
    font-size:.2rem;

    font-weight:400;
    color:rgba(31,17,212,1);
    line-height:.2rem;
    margin-bottom:0.2rem;
}
.memberwrap .member .bottom .dec{
    font-size:.13rem;
    font-weight:300;
    color:rgba(56,56,56,0.8);
    line-height: .22rem;
    /* margin-bottom:.1rem; */
}
.sorrry{
    font-size:.13rem;

    font-weight:300;
    color:rgba(56,56,56,0.8);
    line-height:.13rem;
}
.panationwrap{
    width:11.19rem;
    margin-left:4rem;
    height: 0.25rem;
}
.el-pager li.active{
    background:rgba(31,17,212,1);
    color:#ffffff;
}
.el-pager li{
    width: 0.25rem;
    min-width: 0;
    height: 0.25rem;
    font-size:0.14rem;

    font-weight:400;
    color:rgba(52,52,52,1);
    line-height:0.25rem;
}
