
/*main*/
.main{
    margin-top:0.4rem;
    width:11.19rem;
    margin-left:4rem;
    min-height: 5rem;
}
.main .left{
    width: 8.02rem;
    margin-right:0.92rem;
}
.main .left .personinfo{
    margin-top:0.52rem;
    padding-bottom:0.23rem;
    border-bottom:1px solid rgba(68,68,68,0.27);
}
.main .left .personinfo img{
    width: 1.14rem;
    height: 1.14rem;
    margin-right:0.32rem;
}
.main .left .personinfo .more{
    padding-top:0.07rem;

}
.main .left .personinfo .more .name{
    font-size:0.35rem;

    font-weight:400;
    color:rgba(0,1,254,1);
    line-height:0.35rem;
    margin-bottom:0.13rem;
}
.main .left .personinfo .more .company{
    font-size:0.23rem;

    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.23rem;
    margin-bottom: 0.11rem;
}
.main .left .personinfo .more .idcard{
    font-size:0.16rem;

    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.16rem;
 }
 .main .left .skills{
    padding-top:0.39rem;
    width: 100%;
}
.main .left .skill{
    width: 2.55rem;
    margin-bottom:0.47rem;
}
.main .left .skill .skilltitle{
    font-size:0.27rem;

    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.27rem;
}
.main .left .skill .more{
    margin-top:0.18rem;
    font-size:0.16rem;

    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.18rem;
}
.main .left .skill .skillname{
    margin-left:0.02rem;
    margin-right:0.1rem;
}
.main .left .skill .skilldate{
    margin-right:0.02rem;
}
.main .left .skill .more img{
    width: 0.18rem;
    height: 0.18rem;
}
.main .left .skill::after{
    position: absolute;
    content: '';
    right:0;
    top:0;
    width: 1px;
    height:100%;
    background-image: linear-gradient(to right, rgba(68,68,68,0.25) 0%,  rgba(68,68,68,0.25) 50%, transparent 50%);
    background-size:0.08rem 1px;
    background-repeat: repeat-y;
}
.main .left .simple .title{
    font-size:0.27rem;

    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.23rem;
    margin-top: 0rem;
}
.main .left .simple .content{
    width: 7.83rem;
    margin-top:0.2rem;
    font-size:0.16rem;

    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.24rem;
    text-indent: 0.2rem;
}
.main .right{
    width: 2.27rem;
}
.main .right .bluebtn{
    width: 100%;
    height:0.46rem;
    font-size:0.2rem;

    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:0.46rem;
    background: #0001FD;
    text-align: center;
}
.main .right .codewrap{
    width:2.27rem;
    height:2.27rem;
    border:1px dashed #4e5062;
    margin-top:0.26rem;
}
.main .right .codewrap img{
    width: 2.01rem;
    height: 2.01rem;
    margin:auto;
}
.main .right .dec{
    text-align: center;
    margin-top:0.19rem;
    font-size:0.14rem;

    font-weight:400;
    color:rgba(51,51,51,0.7);
    line-height:0.14rem;
}
/*main*/
