.main{
    width: 19.2rem;
    background:rgba(240,240,240,1);
    min-height: 12rem;
}
.main .left{
    width: 11.8rem;
    background: #ffffff;
    padding-left:3.35rem;
    padding-right:0.59rem;
    box-sizing: border-box;
}
.main .left .content{
    padding-bottom:0.69rem;
}
.main .right{
    /*background:rgba(240,240,240,1);*/
}
.footer{
    margin-top:0;
}
.main .left .bigtitle{
    margin-top:0.9rem;
    font-size:0.39rem;

    font-weight:400;
    font-style:italic;
    color:rgba(38,44,45,1);
    line-height:0.39rem;
    margin-bottom:0.19rem;
    position: relative;
    z-index: 1;
}
.main .left .bigtitle::after{
    position: absolute;
    content:'';
    width:1.6rem;
    height:0.04rem;
    background: #0001FD;
    bottom:-0.21rem;
    left:0;
    z-index: 2;
}
.main .left .hr{
    margin-top:0.19rem;
    width: 100%;
    height: 1px;
    border-top:1px dashed  rgba(39,41,43,0.11);
}
.main .left .title{
    margin-top:0.42rem;
    font-size:0.24rem;

    font-weight:400;
    color:rgba(38,44,45,1);
    line-height:0.24rem;
    position: relative;
}
.main .left .title::after{
    position: absolute;
    content: '';
    width:100%;
    height:2px;
    background-image: linear-gradient(to right,  rgba(136,136,136,1) 0%,rgba(136,136,136,1) 50%, transparent 50%);
    background-size:0.08rem 2px;
    background-repeat: repeat-x;
    bottom: -0.21rem;
    left:0;
    z-index: 2;
}
.main .left .date{
    margin-top:0.18rem;
    height:0.5rem;
    border-bottom:1px solid rgba(39,41,43,0.11);
}
.main .left .date img{
    width: 0.2rem;
    height: 0.2rem;
}
.main .left .date div{
    font-size:0.13rem;
    line-height: 0.13rem;

    font-weight:400;
    color:rgba(38,44,45,0.7);
}
.main .left .dec{
    height:0.73rem;
    line-height:0.23rem;
    color:rgba(99,101,102,1);
    font-size:0.13rem;

    font-weight:400;
    color:rgba(99,101,102,1);
}
.main .left .content{
    width: 100%;
}

.main .right{
    width: 7.4rem;
    box-sizing: border-box;
    padding-top:1.07rem;
}
.main .right .top .swiperWrap{
    width: 4.07rem;
    height:1.79rem;
    margin-top:0.26rem;
    margin-left:0.21rem;
}
.swiper-container{
    position: relative;
}
.swiper-container,.swiper-wrapper,.swiper-slide,.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    position: relative;
    z-index: 1;
}
.pagationbg{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: rgba(0,0,17,0.55);
    z-index: 2;
}
/*分页器样式*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    position: absolute;
    z-index:3;
    bottom: 0.15rem!important;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #888888;
    z-index: 3;
}

/*分页器选中*/
.swiper-pagination-bullet-active {
    background-image: linear-gradient(90deg, #0001FD 0%,#0001FD 100%), linear-gradient( #ffffff, #ffffff) !important;
}
.main .right .bottom{
    margin-top:0.8rem;
}
.main .right .bottom .list{
    margin-top:0.29rem;
    margin-left:0.21rem;
}
.main .right .bottom .list .new{
    margin-top:0.36rem;
}
.main .right .bottom .list .new:first-child{
    margin-top:0;
}
.main .right .bottom .list .new .title{
    height:0.2rem;
}
.main .right .bottom .list .new .title .newid{
    width: 0.2rem;
    height: 0.2rem;
    text-align: center;
    line-height: 0.2rem;
    font-size:0.13rem;

    font-weight:400;
    color:rgba(37,41,43,1);
    background: #d2d2d2;
    margin-right:0.22rem;
}
.main .right .bottom .list .new .title .realtitle{
    font-size:0.16rem;

    font-weight:400;
    color:rgba(62,73,79,1);
    line-height:0.2rem;
}
.main .right .bottom .list .new .date{
    font-size:0.14rem;

    font-weight:400;
    color:rgba(37,41,43,0.55);
    line-height:0.14rem;
    margin-top:0.13rem;
    margin-left:0.43rem;
}
